<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<div class="global-container">
  <div class="container-fluid white-container d-flex flex-column justify-content-center align-items-center">
    <section class="form otp mx-3 mb-4 w-100 flex-grow-1 d-flex flex-column justify-content-center align-items-center login">
      {{>logoWithText}}

      <form action="{{ host }}/otp" method="post" class="auth-box card px-4 pt-4 m-0 w-100" name="otpForm" id="otpForm" onsubmit="return fValidasi()">
        <h3 class="text-left mt-2">Verifying</h3>
        <div class="text-left py-3 f14">
        </div>
          <div class="form-group px-0 mb-0 pt-1">
            <label for="password" class="f12">Password</label>
            <div class="form-group form-primary m-0 p-0 d-flex w-100">
              <input type="password" class="form-control h-auto p-0" id="password" name="password" value="{{ data.password }}">
            </div>
            <span class="f12 text-danger">{{ response.responseMessage }}</span>

          </div>        
        {{!-- <div class="form-group px-0 py-0 mb-0">
          <span class="f12">Enter OTP</span>
          <div class="col-md-12 px-0 pin d-flex {{#if response.responseMessage }}warning {{/if}}">
            <input type="number" maxlength="1" class="form-control" id="txt1" name="txt1" value="{{ data.txt1 }}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
            <input type="number" maxlength="1" class="form-control" id="txt2" name="txt2" value="{{ data.txt2 }}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
            <input type="number" maxlength="1" class="form-control" id="txt3" name="txt3" value="{{ data.txt3 }}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
            <input type="number" maxlength="1" class="form-control" id="txt4" name="txt4" value="{{ data.txt4 }}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
            <input type="number" maxlength="1" class="form-control" id="txt5" name="txt5" value="{{ data.txt5 }}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
            <input type="number" maxlength="1" class="form-control" id="txt6" name="txt6" value="{{ data.txt6 }}" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
          </div>
        </div> --}}
        <div class="form-group px-0 d-flex flex-column justify-content-center align-items-start flex-grow-1 mb-0">
          <div class="form-row w-100">
            <div class="form-group col-md-8 col-8 mb-0">
              &nbsp;
            </div>
            <div id="divBtn" class="form-group col-md-4 col-4 text-right mb-0 p-0">
              <input type="hidden" id="phoneCode" name="phoneCode" value="+62">
              <input type="hidden" id="phone" name="phone" value="{{ data.phone }}">
              <input type="hidden" id="deviceId" name="deviceId" value="{{ data.deviceId }}">
              <input type="hidden" name="urlName" id="urlName" value="{{ data.urlName }}">
              <input type="hidden" name="cityId" id="cityId" value="{{ data.cityId }}">
              <input type="hidden" id="filter" name="filter" value="{{ data.filter }}">
              <input type="hidden" name="categoryId" id="categoryId" value="{{ data.categoryId }}">
              <input type="hidden" name="subCategoryId" id="subCategoryId" value="{{ data.subCategoryId }}">
              <input type="submit" class="btn waves-effect py-1 px-4 h-auto text-center" name="submit" id="submit" value="Verify">
            </div>
          </div>
        </div>
        <div class="mx-0 footer py-2">
          <div class="col-sm-12 text-center">
            {{#if back }}
            <a href="{{ back.link }}/">{{ back.text }}</a>
            {{else}}
            <a href="{{ host }}/">Back to Sign In</a>
            {{/if}}
          </div>
        </div>

      </form>
    </section>
  </div>
  <style>
  .global-container{
    background: url('{{ host_no_basepath }}/images/loginBG.jpg') no-repeat;
    background-size: cover;
  }
</style>

  <script>
    $(document).ready(function () {
      var el = document.querySelectorAll('input[type="number"]');
      $(':input[type="number"]').keyup(function(e) {
        if(e.target.id=='txt6') {
          if(el[0].value && el[1].value && el[2].value && el[3].value && el[4].value && el[5].value){
            document.getElementById("submit").style.backgroundColor='#144371';
            //$('#submit').click();
          }
        }
      });
      var container = document.getElementsByClassName("pin")[0];
      container.onkeyup = function(e) {
        var target = e.srcElement;
        var maxLength = parseInt(target.attributes["maxlength"].value, 6);
        var myLength = target.value.length;
        if (myLength >= maxLength) {
          var next = target;
          while (next = next.nextElementSibling) {
            if (next == null)
              break;
            if (next.tagName.toLowerCase() == "input") {
              next.focus();
              break;
            }
          }
        }

        var txt = target.id
        //console.log('txtId =>',txt)

        var id = parseInt(txt.substr(3,1))-1
        var idClear =txt.substr(3,1)
        txt = "txt"+id;
        var txtClear = "txt"+idClear;
        //console.log('txtId =>',id)
        var input = document.getElementById(target.id);
        input.onkeydown = function() {
          var key = event.keyCode || event.charCode;
          //console.log('key =>',key)

          if( key == 8 || key == 46 ) {
            console.log('back txt =>',txt)
            document.getElementById(txt).focus()
            if(txt == 'txt5'){
              //document.getElementById('txt5').focus()
              document.getElementById('txt6').value = ''
              document.getElementById(txt).value='';
            }else{
              document.getElementById(txt).value='';
              document.getElementById(txtClear).value='';
              document.getElementById(txt).focus()
            }
          }else{
            if(el[0].value && el[1].value && el[2].value && el[3].value && el[4].value && el[5].value){
              document.getElementById("submit").style.backgroundColor='#144371';
            }
          }
        };
      }      
    })
    
    function fValidasi() {
      var el = document.querySelectorAll('input[type="number"]');
      if(el[0].value && el[1].value && el[2].value && el[3].value && el[4].value && el[5].value){
        spinner.show();
        return true;
      }else {
        return false;
      }
    }
    
  </script>
  